.footer__fart{
  margin-right: 12vw;
}

.footer__cert{
  background: $bk;
  width:100vw;
}
#footer__xor1,
#footer__xor2,
#footer__xor3,
#footer__xor4,
#footer__xor5 {
    font-size: .7vw;
    line-height: 1.54;
    color: $fr;
  margin-right: .5vw;
}
.footer__mari{
  font-size: .6vw;
  line-height: 2;
  color: $fr;
}
.footer__call{
  font-size: 1.5vw;
  font-weight: bold;
}
.footer__number{
  font-size: 1.5vw;
  font-weight: bold;
}

